<html>
<body bgcolor="pink"; >
<style>
h1 {font-size: 64pt ; color:#000000;}
h2 {font-style: coursive;font-size: 50pt ; color:#eb00ac;}
h3 {font-size: 40pt;color:#8276df;}

</style>
<h1 style="text-align: center;"><b>The best recipes</b></h1>
<h2 style="text-align: center;"><i>Feel free to cook!</i></h2>
<h3 style="text-align: left;"><td>Our prepared dishes:</td></h1>

{% if type_list %} 
    <ul>
    {% for type in type_list %}
        <h2 style="text-align: left;"><a href="{% url 'polls:meals' type.type_name%}"><span> #{{ type.type_name }}</span></a></h2>
    {% endfor %}
    </ul>
{% else %}
    <h2 style="text-align: center;">No types are available.</h2>
{% endif %}

<img src="ksiazka.jpg">

</body>
</html>
